In [1]:
import pandas as pd

In [15]:
transactions = pd.read_csv("/output/transactions.csv")

In [16]:
transactions.columns

Index(['Transaction code', 'Date', 'Amount', 'Balance', 'Type', 'Direction',
       'Party'],
      dtype='object')

In [17]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction code  2916 non-null   object
 1   Date              2916 non-null   object
 2   Amount            2916 non-null   float64
 3   Balance           2916 non-null   float64
 4   Type              2916 non-null   object
 5   Direction         2916 non-null   object
 6   Party             2916 non-null   object
dtypes: float64(2), object(5)
memory usage: 159.6+ KB

### Total Cash Flow Through MPESA

#### Amount of money received in the whole period

In [6]:
transactions[transactions.Direction == "In"]["Amount"].sum()

np.float64(1647105.63)

#### Amount of money sent in the whole period

In [7]:
transactions[transactions.Direction == "Out"]["Amount"].sum()

np.float64(-1623798.52)

In [8]:
w_charges = set(transactions.loc[transactions["Type"] == "Withdrawal Charges"]["Transaction code"])
w_transactions = set(transactions.loc[transactions["Type"] == "Withdraw Money"]["Transaction code"])

In [11]:
w_transactions - w_charges

{'SJL6WDE1NI'}

In [8]:
transactions.loc[transactions["Type"] == "Withdraw Money"].shape

(16, 7)

In [9]:
transactions.Type.unique()

array(['Buy Goods', 'Airtime', 'Pochi la Biashara', 'Receive money',
       'Send money', 'Paybill', 'Withdrawal Charges', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'Safaricom Charges', 'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description'], dtype=object)

In [21]:
transactions.loc[(transactions["Type"]=="Airtime") & (transactions["Amount"]>0)]

,Transaction code,Date,Amount,Balance,Type,Direction,Party
992,SHO95RXJ4L,2024-08-24 22:41:26,75.0,11388.3,Airtime,In,Safaricom

In [18]:
transactions[transactions["Date"]>"2024-12-12"]

,Transaction code,Date,Amount,Balance,Type,Direction,Party
0,SLS85T3UIS,2024-12-28 17:14:15,-50.0,9573.02,Send money,Out,07******374 Kevin Kuya
1,SLR73F2QIX,2024-12-27 22:56:45,-5.0,9623.02,Paybill,Out,Safaricom
2,SLR73F2QIX,2024-12-27 22:56:45,-300.0,9628.02,Paybill,Out,KPLCPREPAID Acc. 54607518138
3,SLR93EZMK5,2024-12-27 22:55:21,330.0,9928.02,Receive money,In,2547******189 HANNAH KAMAU
4,SLP0TLJO9S,2024-12-25 17:26:22,-30.0,9598.02,Pochi la Biashara,Out,07******564 fredkingoina
...,...,...,...,...,...,...,...
99,SLC87UTG74,2024-12-12 16:45:03,-5.0,498.02,Paybill,Out,Safaricom
100,SLC87UTG74,2024-12-12 16:45:03,-300.0,503.02,Paybill,Out,KCB PaybillAC Acc. 7551712
101,SLC87U60Q4,2024-12-12 16:40:40,-225.0,803.02,Buy Goods,Out,JANE NYOKABI KINGORI
102,SLC67T08D4,2024-12-12 16:32:50,-20.0,1028.02,Airtime,Out,Safaricom
103,SLC37PU68R,2024-12-12 16:10:41,1000.0,1048.02,Receive money from bank/org,In,Andrew Kamau Kimani

In [28]:
transactions.loc[transactions["Type"] == "Paybill",["Amount","Party"]].groupby('Party',group_keys=False).sum().nsmallest(10,"Amount")

                                                      Amount
Party
M-PESA GLOBAL. Acc.256773347169                    -116166.0
MALIAcc.0702605230_40144986_712637#96125e75-fd5...  -67287.0
Equity Paybill Account Acc.0702605230               -50900.0
CAPE PROPERTIES VIA CO-OPAcc. NO2                   -48100.0
MALIAcc.0702605230_40144986_539706#3504017c-e98...  -36895.0
MALIAcc.0702605230_40144986_535102#e08e0567-963...  -25340.0
MALIAcc.0702605230_40144986_346938#8bec0519-6bb...  -22750.0
MALIAcc.0702605230_40144986_565881#87773e92-cb7...  -20000.0
MALIAcc.0702605230_40144986_7874#d9a7f433-1ac9-...  -20000.0
MALIAcc.0702605230_40144986_489336#c79002d9-b97...  -19000.0