In [187]:
import pandas as pd

In [188]:
transactions = pd.read_csv("data/transactions.csv")

In [189]:
transactions.columns

Index(['Unnamed: 0', 'Transaction code', 'Date', 'Amount', 'Balance', 'Type',
       'Direction', 'Party'],
      dtype='object')

In [190]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2916 non-null   int64
 1   Transaction code  2916 non-null   object
 2   Date              2916 non-null   object
 3   Amount            2916 non-null   float64
 4   Balance           2916 non-null   float64
 5   Type              2916 non-null   object
 6   Direction         2916 non-null   object
 7   Party             2916 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 182.4+ KB

### Total Cash Flow Through MPESA

#### Amount of money received in the whole period

In [191]:
transactions[transactions.Direction == "In"]["Amount"].sum()

np.float64(1647105.63)

#### Amount of money sent in the whole period

In [192]:
transactions[transactions.Direction == "Out"]["Amount"].sum()

np.float64(1623798.52)

In [193]:
w_charges = set(transactions.loc[transactions["Type"] == "Withdrawal Charges"]["Transaction code"])
w_transactions = set(transactions.loc[transactions["Type"] == "Withdraw Money"]["Transaction code"])

In [194]:
w_transactions - w_charges

{'SJL6WDE1NI'}

In [195]:
transactions.loc[transactions["Type"] == "Withdraw Money"].shape

(59, 8)

In [196]:
transactions.Type.unique()

array(['Send money', 'Paybill', 'Receive money', 'Pochi la Biashara',
       'Airtime', 'Buy Goods', 'Withdrawal Charges', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'Safaricom Charges', 'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Reversal'], dtype=object)

In [197]:
transactions.loc[(transactions["Type"]=="Airtime")]

,Unnamed: 0,Transaction code,Date,Amount,Balance,Type,Direction,Party
10,10,SLO1P0VEGF,2024-12-24 17:36:11,20.0,1758.02,Airtime,Out,4093441SAFARICOM DATABUNDLES by - 07******230A...
11,11,SLO6P0PSC6,2024-12-24 17:35:25,20.0,1778.02,Airtime,Out,4093441SAFARICOM DATABUNDLES by - 07******230A...
12,12,SLO5OLHTNL,2024-12-24 16:15:13,15.0,1798.02,Airtime,Out,4093441SAFARICOM DATABUNDLES by - 07******230A...
14,14,SLO9O9UF33,2024-12-24 15:08:30,20.0,1913.02,Airtime,Out,4093441SAFARICOM DATABUNDLES by - 07******230A...
15,15,SLO5NUAKJD,2024-12-24 13:37:52,20.0,1933.02,Airtime,Out,Safaricom
...,...,...,...,...,...,...,...,...
2892,2892,SA34XJDQTY,2024-01-03 09:44:54,75.0,3015.66,Airtime,Out,Safaricom
2895,2895,SA36XIJ0A6,2024-01-03 09:36:12,20.0,3619.66,Airtime,Out,Safaricom
2896,2896,SA10TJGY2A,2024-01-01 20:14:20,10.0,3639.66,Airtime,Out,Safaricom
2904,2904,RLU7NUTO5V,2023-12-30 23:01:54,75.0,337.66,Airtime,Out,Safaricom
2909,2909,RLU0LA27AA,2023-12-30 09:53:47,20.0,65.66,Airtime,Out,Safaricom

In [198]:
transactions[transactions["Date"]>"2024-12-12"]

,Unnamed: 0,Transaction code,Date,Amount,Balance,Type,Direction,Party
0,0,SLS85T3UIS,2024-12-28 17:14:15,50.0,9573.02,Send money,Out,07******374 Kevin Kuya
1,1,SLR73F2QIX,2024-12-27 22:56:45,5.0,9623.02,Paybill,Out,Safaricom
2,2,SLR73F2QIX,2024-12-27 22:56:45,300.0,9628.02,Paybill,Out,888880 - KPLCPREPAID Acc. 54607518138
3,3,SLR93EZMK5,2024-12-27 22:55:21,330.0,9928.02,Receive money,In,2547******189 HANNAH KAMAU
4,4,SLP0TLJO9S,2024-12-25 17:26:22,30.0,9598.02,Pochi la Biashara,Out,07******564 fredkingoina
...,...,...,...,...,...,...,...,...
99,99,SLC87UTG74,2024-12-12 16:45:03,5.0,498.02,Paybill,Out,Safaricom
100,100,SLC87UTG74,2024-12-12 16:45:03,300.0,503.02,Paybill,Out,522522 - KCB PaybillAC Acc. 7551712
101,101,SLC87U60Q4,2024-12-12 16:40:40,225.0,803.02,Buy Goods,Out,7766630 -JANE NYOKABI KINGORI
102,102,SLC67T08D4,2024-12-12 16:32:50,20.0,1028.02,Airtime,Out,Safaricom
103,103,SLC37PU68R,2024-12-12 16:10:41,1000.0,1048.02,Receive money from bank/org,In,5335416 -Andrew Kamau Kimani

In [180]:
transactions.Type.unique()

array(['Send money', 'Paybill', 'Receive money', 'Pochi la Biashara',
       'Airtime', 'Buy Goods', 'Withdrawal Charges', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'Safaricom Charges', 'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Reversal'], dtype=object)

In [181]:
transactions.loc[transactions["Type"]== "No description"]["Party"].unique()

array(['Safaricom'], dtype=object)

In [182]:
transactions.loc[transactions["Type"] == "Paybill",["Amount","Party","Direction","Transaction code"]].groupby('Party',group_keys=False).sum().nlargest(10,"Amount")

,Amount,Direction,Transaction code
Party,,,
840020 - M-PESA GLOBAL. Acc.256773347169,116166.0,OutOutOutOut,SJS1QL473ZSIQ9Z00ZCRSGP0SE8YR4SGN9KXCAF9
859528 - MALIAcc.0702605230_40144986_712637#96125e75-fd58-46c7-a054-afbf77a5fd6e,67287.0,Out,SEM1104UAL
247247 -Equity Paybill Account Acc.0702605230,50900.0,OutOutOut,SIT6C34I68SI981XROSASI971X4J7N
4090833 -CAPE PROPERTIES VIA CO-OPAcc. NO2,48100.0,OutOutOut,SK54M8TNHUSJ12JZMRT0SHN1ZJDN3D
859528 - MALIAcc.0702605230_40144986_539706#3504017c-e988-4add-857f-94e5c7f9f666,36895.0,Out,SEL9VWUW3B
859528 - MALIAcc.0702605230_40144986_535102#e08e0567-963e-47e9-81e0-016c93f3e3b2,25340.0,Out,SG26CP601W
859528 - MALIAcc.0702605230_40144986_346938#8bec0519-6bb3-41d8-9703-8a9e5e4ffb24,22750.0,Out,SG137HWPVB
859528 - MALIAcc.0702605230_40144986_565881#87773e92-cb75-44ac-aa59-f889a439accf,20000.0,Out,SEN46DXCZA
859528 - MALIAcc.0702605230_40144986_7874#d9a7f433-1ac9-4331-9450-4e5f74f91e4a,20000.0,Out,SF31AV745T
859528 - MALIAcc.0702605230_40144986_489336#c79002d9-b97b-49c4-aa91-bf92ab787601,19000.0,Out,SFB77KA3P7